<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            {{#link-to 'index' class="link"}}Home{{/link-to}}
            {{#link-to 'todos' class="link"}}TODOs{{/link-to}}
        </div>
        <div class="center">Welcome to Ember.js</div>
        <div class="right">
        	{{#link-to 'about' class="link"}}About{{/link-to}}
        </div>
    </div>
</div>

<div class="page-content">
	
	{{outlet}}

</div>

<div class="toolbar">
    <div class="toolbar-inner">
        <a href="http://www.idangero.us/framework7" target="_blank" class="link">F7, iOS Style Framework</a>
     </div>
</div>