<div class="content-block">

	{{input value=todo.title placeholder="New task.."}}
	
	{{input value=todo.type placeholder="Professional | Domestic"}}


	<button {{action 'add' todo}}>add</button>

	<h2>All TODOs</h2>

	<ul>
		{{#each}}
			<li>
				#{{id}} {{title}} : {{type}} 
				<button {{action 'remove' id}}>del</button>
			</li>
		{{/each}}
	</ul>	

</div>	